# Secrets
env_vars.yaml
secrets.yaml
.env

# Shells on the Batch
run_improv.sh
run_improv_batch.sh
run_animator.sh

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/

# Outputs & Artifacts
*.mp4
*.png
*.jpg
*.wav
bible.json
story.json
portions.json
manifest.json
manifest_updated.json
finalcuts/
componentparts/
z_test-outputs/
z_improv_outputs/
setup_rvc_env.sh
unzip_models.py
migrate_weights.py
producerjasonwoliner/
actionscript/
_deprecated/

# OS
v0.5.code-workspace
mvp_temper.md
.DS_Store
